---
// Individual project page - to be implemented

export async function getStaticPaths() {
  // Returns empty array until projects are added
  return [];
}
---

<html>
  <body>
    <h1>Project</h1>
  </body>
</html>
